@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body {
    font-family: Lexend Deca;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}
.content {
    height: 100vh;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
}

.first-col {
    background-color: hsl(31, 77%, 52%);
}

.second-col {
    background-color: hsl(184, 100%, 22%);
}

.third-col {
    background-color: hsl(179, 100%, 13%);
}

h1 {
    font-family: Big Shoulders Display;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

#btn {
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    background: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
